@charset "utf-8";
/* CSS Document */

body {
    background: #fff;
    color: #202124;
}

#outer-container {
	margin: auto;
	width: 100%;
	padding: 10px;
}

#header {
	width:100%;
}

.nav {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	justify-content: flex-end;
}

.nav-link {
	display: block;
    line-height: 24px;
    padding-left: 20px;
    color: #000;
    opacity: 0.75;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#search-layout {
    position: relative;
    margin: 0 auto;
    padding-top: 272px;
    width: auto;
	min-width: 400px;
    max-width: 484px;
}

.search-surround {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
}

.search_field {
	background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
	font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}
/*
input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

*/