@charset "utf-8";
/* CSS Document */

body {
    background: #fff;
    color: #202124;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
  	float: right;
	display: inline;
}

li a {
	display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}

.search-layout {
	margin: auto;
	padding: 10px;
}

#search_field {
	background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

